.Header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.Header h2 {
  margin-top: auto;
  margin-left: -100px;
}

.Header>*:nth-child(1) {
  margin-left: 100px;
}